.barWrapper {
  height: 200px;
  width: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.barWrapper:hover .polygon {
  fill: #7579ba;
}

.barWrapper:focus,
.barWrapper:focus-visible .polygon {
  outline: 4px auto -webkit-focus-ring-color;
}