.board {
  width: 550px;
  max-width: 75vw;
  height: 480px;
  max-height: 70vh;
  background: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  border: 8px solid black;
  align-items: center;
  align-content: space-between;
}
