.barWrapper {
  height: 100%;
  width: 50px;
  min-width: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #5d4e37;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 4px;
}

.barWrapper:hover {
  opacity: 0.9;
}
